In [1]:
import pandas as pd

In [2]:
my_series = pd.Series([4, 7, -5, 3, -1])

In [3]:
my_series

0    4
1    7
2   -5
3    3
4   -1
dtype: int64

In [4]:
my_series[1]

7

In [5]:
import numpy as np

In [6]:
np.exp(my_series)

0      54.598150
1    1096.633158
2       0.006738
3      20.085537
4       0.367879
dtype: float64

In [7]:
df = pd.DataFrame({
    'name': ['Маша', 'Вася', 'Эдуард'], 
    'age': [25, 8, 48], 
    'job': ['Программист', 'Школьник', 'Big Boss'],
    'salary': [100, 10, 200]
})

In [8]:
df

     name  age          job  salary
0    Маша   25  Программист     100
1    Вася    8     Школьник      10
2  Эдуард   48     Big Boss     200

In [9]:
name = df['name']

In [10]:
name

0      Маша
1      Вася
2    Эдуард
Name: name, dtype: object

In [13]:
df[df['salary'] >= 100]

     name  age          job  salary
0    Маша   25  Программист     200
2  Эдуард   48     Big Boss     400